@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');


body{
  width: 50%;
  margin: 0 auto;
  background-color: #212121;
}

header{
  text-align: center;
}

header h1{
  font-family: 'Montserrat';
  font-size: 100px;
  color: #14FFEC;
  font-weight: 500;
}


input{
  font-size: 20px;
  color: whitesmoke;
  background-color: #212121;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #21ffedd4;
  padding: 7px;
}



